<div class="container">
  <h1>Create a Task</h1>
    <% @task.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :details %>
    <%= f.text_field :details, class: "form-control" %>
    <%= f.submit "Add Task", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
